<section class="benefits-section">
	<h1><span>BENEFITS</span> OF WORKING WITH <span>ME</span></h1>
<ul class="benefits-list">
	<li class="benefit-item">
		<div class="icon">💬</div>
		<h2>COMMUNICATION</h2>
		<p>Understanding your needs and wants is my priority and I am always available for discussions and open to
			corrections.</p>
	</li>
	<li class="benefit-item">
		<div class="icon">🖌️</div>
		<h2>ART</h2>
		<p>Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life.</p>
	</li>
	<li class="benefit-item">
		<div class="icon">👤</div>
		<h2>EXPERTISE</h2>
		<p>With extensive experience in development, I have a deep understanding of programming and website development.
		</p>
	</li>
	<li class="benefit-item">
		<div class="icon">⏳</div>
		<h2>URGENT EXECUTION</h2>
		<p>I understand how important time is to you. Ready to work quickly and efficiently, without reducing the
			quality of work.</p>
	</li>
</ul>
</section>

<script src="./src/js/benefits.js"></script>