<section class="faq">
  <div class="faq-container">
    <div class="faq-title-cont">
      <h2 class="faq-title">
        frequently asked<span class="faq-span"> question</span>
      </h2>
    </div>
    <div class="faq-container">
      <div class="accordion-container"></div>
      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            Lorem ipsum dolor sit amet.
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            Lorem ipsum dolor sit amet.
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>

      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            Lorem ipsum dolor sit amet.
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
