<header class="header">
	<div class="header-container">
		<a href="/project-group-15_Portfolio/index.html">
			<p class="name">Lloyd<span>Jefferson.</span></p>
		</a>
		<nav class="navbar">
			<div class="button-set">
				<div class="toggle-switch">
					<input type="checkbox" id="theme-toggle" class="theme-toggle-checkbox" />
					<label for="theme-toggle" class="slider-wrapper" id="toggleLabel">
						<span class="visually-hidden">Toggle Theme</span>
						<svg class="icon-light" xmlns="http://www.w3.org/2000/svg" width="48" height="24" viewBox="0 0 48 24"
							fill="none">
							<rect width="48" height="24" rx="12" fill="#E4E5E6" />
							<circle cx="12" cy="12" r="10" fill="#00B068" />
						</svg>
						<svg class="icon-dark" xmlns="http://www.w3.org/2000/svg" width="48" height="24" viewBox="0 0 48 24"
							fill="none">
							<rect width="48" height="24" rx="12" fill="#292929" />
							<path fill-rule="evenodd" clip-rule="evenodd"
								d="M32 21.1679C35.5318 19.6248 38 16.1006 38 12C38 7.89936 35.5318 4.3752 32 2.83209C33.2249 2.29689 34.5778 2 36 2C41.5228 2 46 6.47715 46 12C46 17.5228 41.5228 22 36 22C34.5778 22 33.2249 21.7031 32 21.1679Z"
								fill="#00B068" />
						</svg>
					</label>
				</div>

				<button class="burger" type="button"></button>
			</div>

			<div class="mobile-menu">
				<ul class="mobile-nav-list">
					<li><a href="#about-me">About me</a></li>
					<li><a href="#my-projects">Projects</a></li>
					<li><a href="#work-together">Contacts</a></li>
				</ul>
			</div>

			<ul class="nav-list">
				<li><a href="#about-me">About me</a></li>
				<li><a href="#my-projects">Projects</a></li>
				<li><a href="#work-together">Contacts</a></li>
			</ul>
		</nav>
	</div>
</header>