<header class="header">
	<div class="header-container">
	  <p class="name">Lloyd<span>Jefferson.</span></p>
	  <div class="nav">
		<div class="toggle-switch">
		  <input type="checkbox" id="theme-toggle" />
		  <label for="theme-toggle" class="slider-wrapper">
			<span class="slider"></span>
		  </label>
		</div>
		<nav>
		  <ul class="nav-list">
			<li><a href="#">About me</a></li>
			<li><a href="#">Projects</a></li>
			<li><a href="#">Contacts</a></li>
		  </ul>
		</nav>
	  </div>
	</div>
  </header>