<section class="reviews">
	<div class="reviews-container">
		<h2 id="reviewsHead">REVIEWS</h2>

		<div class="swiper">
			<ul class="swiper-wrapper" id="reviewsWrap"></ul>
		</div>

		<div class="buttons">
			<div class="swiper-button-prev">
				<svg width="24" height="24">
					<use xlink:href="/img/icons.svg#icon-arrow-narrow-slider"></use>
				</svg>
			</div>
			<div class="swiper-button-next">
				<svg width="24" height="24">
					<use xlink:href="/img/icons.svg#icon-arrow-narrow-slider"></use>
				</svg>
			</div>
		</div>
	</div>
</section>