<section class="reviews">
  <div class="reviews-container">
    <h2 id="reviewsHead">REVIEWS</h2>

    <div class="swiper">
      <ul class="swiper-wrapper" id="reviewsWrap"></ul>
    </div>

    <div class="buttons">
      <button class="swiper-button-prev" tabindex="0" aria-label="previous">
        <svg width="24" height="24">
          <use xlink:href="/img/icons.svg#icon-arrow-narrow-slider"></use>
        </svg>
      </button>
      <button class="swiper-button-next" tabindex="0" aria-label="next">
        <svg width="24" height="24">
          <use xlink:href="/img/icons.svg#icon-arrow-narrow-slider"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
