<section class="tech-skills">
  <div class="tech-skills-container">
    <h2 class="visually-hidden">Tech Skills</h2>
    <div class="tech-skills-container">
      <div class="linear">
        <div class="tech-skills-marquee">
          <ul class="tech-skills-list">
            <li class="tech-skills-item">
              <span class="square green"></span>html/css
            </li>
            <li class="tech-skills-item">
              <span class="square green"></span>javascript
            </li>
            <li class="tech-skills-item">
              <span class="square green"></span>react
            </li>
            <li class="tech-skills-item">
              <span class="square green"></span>node.js
            </li>
            <li class="tech-skills-item">
              <span class="square green"></span>react native
            </li>
            <li class="tech-skills-item">
              <span class="square green"></span>typescript
            </li>
          </ul>
        </div>
      </div>
      <div class="rotate">
        <div class="tech-skills-marquee">
          <ul class="tech-skills-list">
            <li class="tech-skills-item">
              <span class="square black"></span>html/css
            </li>
            <li class="tech-skills-item">
              <span class="square black"></span>javascript
            </li>
            <li class="tech-skills-item">
              <span class="square black"></span>react
            </li>
            <li class="tech-skills-item">
              <span class="square black"></span>node.js
            </li>
            <li class="tech-skills-item">
              <span class="square black"></span>react native
            </li>
            <li class="tech-skills-item">
              <span class="square black"></span>typescript
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
