.about-title {
	font-weight: 400;
	font-size: 52px;
	line-height: 1.23077;
	text-transform: uppercase;
	font-family: "Impact", sans-serif;
	margin-bottom: 40px;
	transition: color 0.3s ease;
}

@media only screen and (min-width: 768px) {
	.about-title {
		font-size: 108px;
		line-height: 1.14815;
		letter-spacing: 0.02em;
		text-transform: uppercase;
	}
}

.about-content {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

@media only screen and (min-width: 768px) {
	.about-content {
		gap: 60px;
	}
}

@media only screen and (min-width: 1280px) {
	.about-content {
		padding-left: calc(240px - 32px);
	}
}

.img-bio-part {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

@media only screen and (min-width: 768px) {
	.img-bio-part {
		flex-direction: row;
		gap: 32px;
		height: calc(680px + 80px);
	}
}

@media only screen and (min-width: 1280px) {
	.img-bio-part {
		gap: 132px;
		height: calc(488px + 232px);
	}
}

.about-img-wrap,
.about-img {
	border-radius: 16px;
	overflow: hidden;
}

@media only screen and (min-width: 768px) {
	.about-img-wrap {
		display: flex;
		align-items: end;
	}
}

@media only screen and (min-width: 768px) {
	.bio {
		flex-basis: 336px;
		position: relative;
	}

	.bio::before {
		content: '';
		position: absolute;
		width: 100%;
		height: calc(100% + 184px);
		background-image: url(../img/about-me/tablet/decor-tab-1x.png);
		background-repeat: no-repeat;
		background-position: bottom right;
		background-size: 336px 252px;
		z-index: -1;
	}

	@media (min-resolution: 192dpi) {
		.bio::before {
			background-image: url(../img/about-me/tablet/decor-tab-2x.png);
		}
	}
}

@media only screen and (min-width: 1280px) {
	.bio {
		flex-basis: 488px;
	}

	.bio::before {
		content: '';
		position: absolute;
		width: 100%;
		height: calc(100% + 96px);
		background-image: url(../img/about-me/pc/decor-pc-1x.png);
		background-repeat: no-repeat;
		background-position: bottom right;
		background-size: 384px 288px;
		z-index: -1;
	}

	@media (min-resolution: 192dpi) {
		.bio::before {
			background-image: url(../img/about-me/pc/decor-pc-2x.png);
		}
	}
}

.bio-title,
.edu-title,
.role-title {
	font-size: 32px;
	font-style: normal;
	font-weight: 500;
	line-height: 125%;
	text-transform: uppercase;
	white-space: nowrap;
	letter-spacing: 0.02em;
	margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {

	.bio-title,
	.edu-title,
	.role-title {
		font-size: 36px;
		line-height: 1.33333;
		letter-spacing: 0.01em;
	}
}

.bio-text-1 {
	margin-bottom: 24px;
}

.edu-role-part {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

@media only screen and (min-width: 768px) {
	.edu-role-part {
		flex-direction: row;
		justify-content: space-between;
	}
}

@media only screen and (min-width: 768px) {

	.education,
	.role {
		flex-basis: 336px;
	}
}

@media only screen and (min-width: 1280px) {

	.education,
	.role {
		flex-basis: 384px;
	}
}

.edu-list,
.role-list {
	padding-left: 8px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

@media only screen and (min-width: 768px) {

	.edu-list,
	.role-list {
		gap: 16px;
	}
}

.edu-li-item,
.role-li-item {
	position: relative;
	padding-left: 20px;
	line-height: 1.5;
}

.edu-li-item::before,
.role-li-item::before {
	content: "";
	position: absolute;
	transform: translateY(-50%);
	width: 4px;
	height: 4px;
	background-color: #00B068;
	border-radius: 1px;
	left: 4px;
	top: 12px;
}

html._dark .edu-li-item::before,
html._dark .role-li-item::before {
	background-color: #14C57C;
}