/* Styles for libraries */
@import url('izitoast/dist/css/iziToast.min.css');

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@font-face {
	font-family: 'Impact';
	src: url('./fonts/impact.woff2') format('woff2'),
		url('./fonts/impact.woff') format('woff'),
		url('./fonts/impact.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


/* Website color schemes (applies to all browser-built elements: scroll, form elements...) */
[data-color-scheme="dark"] {
	color-scheme: dark;
}

[data-color-scheme="light"] {
	color-scheme: light;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

html {
	scroll-behavior: smooth;
}

body {
	font-weight: 300;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.03em;
	color: #292929;
	font-family: "Poppins", "Arial", sans-serif;
	background-color: #f0f0f0;
	transition: background-color 0.3s ease;
}

/* Dark theme */
html._dark body {
	background-color: #1e2023;
	color: #f0f0f0;
}

.main {
	display: flex;
	flex-direction: column;
	gap: 80px;
	margin-bottom: 80px;
}

@media only screen and (min-width: 768px) {
	.main {
		gap: 124px;
		margin-bottom: 124px;
	}
}

@media only screen and (min-width: 1280px) {
	.main {
		gap: 164px;
		margin-bottom: 164px;
	}
}

.brand-color {
	color: #00b068;
}

/* Dark theme */
html._dark {
	.brand-color {
		color: #14c57c;
	}
}