.faq-title {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23077;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;

  color: #292929;
}

.faq-span {
  color: #00b068;
}

.faq-title-cont {
  margin-bottom: 40px;
  width: 272px;
}

.accordion-wrap {
  min-width: 272px;
}

.ac {
  /* border-radius: 16px !important; */
  padding: 28px 24px !important;
  max-width: 100% !important;
  margin: 0 !important;

  border: 0 !important;
  background-color: #f0f0f0 !important;
  border-bottom: 1px solid #e4e5e6 !important;
}

.ac.is-active {
  border-radius: 16px !important;
  padding: 28px 24px !important;
  max-width: 100% !important;
  background-color: #bcdfd1 !important;
}

.ac .ac-header {
  max-width: 100%;
}

.ac .ac-panel .ac-text {
  padding: 0 !important;
  width: 100% !important;
  margin-top: 24px !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 300 !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
  letter-spacing: 0.03em !important;
  color: #292929 !important;
}

.ac-trigger {
  padding: 0px 40px 0px 0px !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 1.55556 !important;
  letter-spacing: 0.03em !important;
  text-transform: uppercase !important;
  color: #292929 !important;
  max-width: 100% !important;
}

.ac .ac-trigger::after {
  content: '\276E' !important;
  text-align: right !important;
  transform: rotate(-0.25turn) !important;
  right: 8px !important;
  top: 3px !important;
}

.ac.is-active > .ac-header .ac-trigger::after {
  content: '\276E' !important;
  transform: rotate(0.25turn) !important;
}

@media only screen and (min-width: 768px) {
  .faq-title-cont {
    margin-bottom: 60px;
    width: 592px;
  }

  .faq-title {
    font-size: 108px;
    line-height: 1.14815;
    letter-spacing: 0.02em;
  }

  .accordion-wrap {
    width: 704px;
  }
}

@media only screen and (min-width: 1280px) {
  .faq-title-cont {
    margin-bottom: 0;
    width: 524px;
  }

  .faq-container {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .accordion-wrap {
    margin-top: 276px;
    width: 592px;
  }

  .faq-container::before {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;

    width: 526px;
    height: 408px;
    background-image: url(../img/faq/pc/decor-bg_4_pc.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 526px 408px;
    z-index: -1;
    transform: scale(0.9);
  }
}

/* Темна тема */

html._dark .faq-title {
  color: #f0f0f0;
}

html._dark .faq-span {
  color: #14c57c;
}

html._dark .ac {
  background-color: #1e2023 !important;
}

html._dark .ac.is-active {
  background-color: #204136 !important;
  border-bottom: 0 !important;
}

html._dark .ac-trigger {
  color: #f0f0f0 !important;
}

html._dark .ac .ac-panel .ac-text {
  color: #f0f0f0 !important;
}
