/* .faq-container {
  background: #e4e5e6;
  height: 100px;
} */
.faq-title {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23077;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #292929;
}

.faq-span {
  color: #00b068;
}

.faq-title-cont {
  margin-bottom: 40px;
}

.ac-trigger {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
}

.ac-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
}

.ac {
  border-radius: 16px;
  padding: 28px 24px;
  width: 320px;
}

.ac .ac-trigger {
  padding: 0px 40px 0px 0px;
}

.ac.is-active {
  border-radius: 16px;
  padding: 28px 24px;
  width: 320px;
  background-color: #bcdfd1;
}
