.faq-title {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23077;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #292929;
}

.faq-span {
  color: #00b068;
}

.faq-title-cont {
  margin-bottom: 40px;
  width: 320px;
}

.accordion-wrap {
  width: 320px;
}

.ac {
  border-radius: 16px !important;
  padding: 28px 24px !important;
  width: 320px !important;
  margin: 0 !important;

  border: 0 !important;
  background-color: #f0f0f0 !important;
  border-bottom: 1px solid #e4e5e6 !important;
}

.ac .ac-header {
  width: 272px;
}

.ac .ac-panel .ac-text {
  padding: 0 !important;
  width: 272px !important;
  margin-top: 24px !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 300 !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
  letter-spacing: 0.03em !important;
  color: #292929 !important;
}

.ac-trigger {
  padding: 0px 40px 0px 0px !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 1.55556 !important;
  letter-spacing: 0.03em !important;
  text-transform: uppercase !important;
  color: #292929 !important;
}
.ac .ac-trigger::after {
  content: '\276E' !important;
  text-align: right !important;
  transform: rotate(-0.25turn) !important;
  right: 8px !important;
  top: 3px !important;
}
.ac.is-active > .ac-header .ac-trigger::after {
  content: '\276E' !important;
  transform: rotate(0.25turn) !important;
}

.ac.is-active {
  border-radius: 16px;
  padding: 28px 24px;
  width: 320px;
  background-color: #bcdfd1 !important;
}

/* Темна тема */

html._dark .faq-title {
  color: #f0f0f0;
}

html._dark .faq-span {
  color: #14c57c;
}
