.swiper-slide {
  padding: 32px;
}
.reviews-container {
  margin: 0 auto;
  position: relative;
}

.reviews-container .reviews {
  display: flex;
  justify-content: space-between;
}

#reviewsHead {
  font-size: 52px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 0 0 40px 0;
  font-weight: 400;
  text-align: center;
  line-height: 64px;
  letter-spacing: 1.8px;
}

.reviewbox {
  display: flex !important;
  justify-content: space-between;
  flex-direction: column;
  font-size: 16px;
  font-family: Poppins, Arial, sans-serif;
  height: 100% !important;

  position: relative;
  width: 100%;

  gap: 24px;
  border-radius: 16px;
  background-color: #e4e5e6;
  overflow: hidden;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.author {
  display: flex;
  flex-direction: row;
  gap: 16px;

  font-size: 16px;
  font-family: Popins, Arial, sans-serif;
  font-weight: 600;
  align-items: center;
}

.swiper-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 360px;
  margin: 16px auto 0;
}

.swiper-button-next,
.swiper-button-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 8px;
  width: 40px !important;
  height: 40px !important;
  position: unset !important;
  margin-top: 20px !important;

  top: auto !important;
  left: auto !important;
  bottom: -24px !important;
  right: -10px !important;
  z-index: 1;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

/* .swiper-button-next {
	  right: 20px !important;
	} */

.swiper-button-prev {
  right: 40px !important;
}

.swiper-button-next svg,
.swiper-button-prev svg {
  width: 24px !important;
  height: 24px !important;
  fill: #292929;
}

.swiper-button-prev svg {
  transform: rotate(180deg);
}

.swiper-button-next::before {
  display: none !important;
}

.swiper-button-disabled {
  border-color: #e4e5e6;
}

.swiper-button-disabled svg {
  fill: #e4e5e6;
}

.swiper-container-wrapper {
  position: relative;
}

.swiper {
  overflow: hidden;
}

.buttons {
  display: flex;
  gap: 16px;
  justify-content: right;
}

.reviewError {
  font-size: 32px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  text-align: center;
  margin: 16px 0;
  width: 100%;
  /* Ensure the element takes the full width of its container */
}

@media (min-width: 768px) {
  #reviewsHead {
    font-size: 108px;
    margin: 0 0 60px 0;

    line-height: 124px;
  }

  .reviewbox {
    font-weight: 300;
    height: 224px !important;
  }
}

@media (min-width: 1280px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 48px !important;
    height: 48px !important;
  }

  .swiper-button-prev {
    right: 48px !important;
  }

  #reviewsHead {
    margin: 0 0 80px 0;
  }
  .buttons {
    gap: 24px;
  }
}

._dark .reviewbox {
  background-color: #2a2d32;
  color: #f0f0f0;
}

._dark .swiper-button-next svg,
._dark .swiper-button-prev svg {
  fill: #f0f0f0;
}

._dark .swiper-button-next,
._dark .swiper-button-prev {
  border-color: #f0f0f0;
}

._dark .swiper-button-disabled {
  border-color: #2a2d32;
}

._dark .swiper-button-disabled svg {
  fill: #2a2d32;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: unset !important;
}
