.tech-skills-container {
  padding: 0;
  overflow: hidden; /* ховає елементи, які виходять за межі контейнера */
  white-space: nowrap; /* не дозволяє переносити елементи на новий рядок */
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 133%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.linear {
  padding: 40px 0px;
  width: 100%;
  height: 100%;
  background-color: #bcdfd1;
  position: relative;
  z-index: 2;
  transition: background-color 0.3s ease;
  }

.one {
  margin-left: 16px;
}

.tech-skills-marquee {
  display: flex;
  /* flex-shrink: 0; */
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0); /* Початок з початкової точки */
  }

  100% {
    transform: translateX(-100%); /* Зміщення на половину ширини для плавного циклу */
  }
}

.tech-skills-marquee:hover {
  animation-play-state: paused;
}

.rotate {
  padding: 40px 0px;
  width: 100%;
  height: 100%;
  background-color: #e4e5e6;
  display: flex;
  transform: rotate(2deg); /* Нахиляємо текст під кутом */
  color: #00b068;
  position: relative;
  z-index: 1;
  transition: background-color 0.3s ease;
}

.tech-skills-list {
  display: flex;
  gap: 16px;
  flex-direction: row;
  justify-content: start;
}

.tech-skills-item {
  display: flex;
  align-items: center;
}

.square {
  width: 8px;
  height: 8px;
  border-radius: 2px;
  transform: rotate(-180deg);
  margin-right: 16px;
}

.green {
  background-color: #00b068;
}

.black {
  background-color: #000000;
}

html._dark {
  .tech-skills-container {
    color: #f0f0f0;
  }

  .linear {
    background-color: #204136;
  }

  .rotate {
    background-color: #2a2d32;
  }

  .black {
    background-color: #f0f0f0;
  }
}